.cover {
  background-image: url("https://images.unsplash.com/photo-1486520299386-6d106b22014b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  text-align: center;
  opacity: 1;
}

.banner {
  border-radius: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  right: 65%;

  width: 35%;
  height: 100%;

  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.5);

  color: white;
  text-align: center;

  transition: 2s;
}

.form {
  border-radius: 20px;
  position: absolute;
  display: flex;
  z-index: 1;
  right: 0;

  width: 65%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;

  font-weight: bold;
  color: white;

  transition: 2s;
}

.sendRight {
  right: 0;
}

.sendLeft {
  right: 35%;
}

.formComp {
  flex-direction: column;
}

.button {
  display: block;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #d24d57;
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  padding: 15px 20px 15px 20px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #d24d57;
}

input {
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 20px;
}
