.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
}

.banner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  right: 75%;

  width: 25%;
  height: 100%;

  flex-direction: column;

  background-color: rgba(255, 0, 0, 0.5);
  opacity: 1;

  color: #eefcf8;
  text-align: center;

  transition: 2s;
}

.form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  right: 0;

  width: 75%;
  height: 100%;

  background-color: #eefcf8;
  opacity: 1;

  font-weight: bold;
  color: #035e7b;

  transition: 2s;
}

.sendRight {
  right: 0;
}

.sendLeft {
  right: 25%;
}

.formComp {
  flex-direction: column;
}

button {
  padding: 1em;

  border: 1px solid #eefcf8;
  border-radius: 5em;

  background-color: #035e7b;

  color: #eefcf8;
  font-weight: bold;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

button:hover {
  opacity: 0.9;
}

input {
  padding: 0.5em;
  border: 1px solid #035e7b;
}
