.container {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 2px #592941;
  border: 0.1em solid #592941;
  border-radius: 0.5em;
  background-color: black;
}

.banner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  right: 65%;

  border: 0.1em solid #592941;
  border-radius: 0.5em;

  width: 35%;
  height: 100%;

  flex-direction: column;

  background-color: rgba(255, 0, 0, 0.3);
  opacity: 1;

  color: #eefcf8;
  text-align: center;

  transition: 2s;
}

.form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  right: 0;

  border: 0.1em solid #592941;
  border-radius: 0.5em;

  width: 65%;
  height: 100%;

  background-color: #eefcf8;
  opacity: 1;

  font-weight: bold;
  color: #035e7b;

  transition: 2s;
}

.sendRight {
  right: 0;
}

.sendLeft {
  right: 35%;
}

.formComp {
  flex-direction: column;
}

button {
  padding: 1em;

  border: 1px solid #eefcf8;
  border-radius: 5em;

  background-color: #035e7b;

  color: #eefcf8;
  font-weight: bold;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

button:hover {
  opacity: 0.9;
}

input {
  padding: 0.5em;
  border: 1px solid #035e7b;
}
