.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formComp {
  flex-direction: column;
}

.signInForm {
  width: 50%;
  flex-direction: column;
}

.signInForm > label {
  padding: 0.5em;
  width: 100%;
}

.signInForm > label > input {
  width: 100%;
}
