.container {
  position: relative;
  border: 2px solid black;
  border-radius: 20px;
  display: block;
  min-width: 100%;
  max-width: 100px;
  overflow: hidden;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: auto;

  .courseTitle {
    overflow-wrap: anywhere;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
  }

  .courseInfo {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: left;
  }
  .courseToDo {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .courseIcon {
    padding-left: 10px;
  }

  .courseLink {
    padding-left: 10px;
  }

  .courseMeeting {
    text-align: center;
    font-size: 40px;
  }
}
