/* App Styles */

.App {
  text-align: center;
  background-color: gray;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  height: 90px;
}

.cardFlexContainer {
  margin-left: 50px;
  margin-right: 50px;
  /* background-color: green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* CourseCard Stylings */

.courseCard {
  width: 350px;
  height: 370px;
  margin: 35px;
  background-color: whitesmoke;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 8px;
}

.courseCard h2 {
  /* background-color: pink; */
  margin-top: 0px;
}

img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.linksWrapper {
  display:flex;
  align-items: center;
}

.linksGroup {
  /* background-color: lightblue; */
  height: 150px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.linksGroup hr {
  border: .5px solid lightgray;
  width: 90%;
  margin: 0px;
}

.featuredLink {
  /* background-color: lightpink; */
  height: 130px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: .5px solid slategray;
  border-radius: 10px;
  background-color: gainsboro;
}

.featuredLink h3 {
  font-size: 20px;
}

.featuredLink img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.infoText {
  /* background-color: lightyellow; */
  padding-top: 10px;
  height: 90px;
  text-align: left;
}

#chevron {
  width: 40px;
}

.linkRow {
  display: flex;
  flex-direction: row;
  /* background-color: lightsalmon; */
  align-items: center;
  min-height: 35px;
}

.linkRow p {
  margin: auto 0px;
  font-weight: bold;
}

.linkRow img {
  /* background-color: green; */
  width: 25px;
  height: 25px;
  margin-left: 5px;
}