.card {
  min-height: 100%;
  display: flex;
  border: 3px solid black !important;
  border-radius: 25px 25px 25px 25px !important;
  border-collapse: separate !important;
}

.grid {
  flex-basis: calc(50% - 40px);
}
